.content {
  width: 100%;
}

svg {
  width: 100%;
}

path {
  fill: var(--primary);      
  stroke: var(--bg-color);
  opacity: 0.8;    
  stroke-width: 0.8px; 
  cursor: pointer;
  transition: var(--transition);
}

path:hover {    
  fill: var(--primary-hover);
  opacity: 1 !important;   
  z-index: 100;
  cursor: pointer;   
  filter: drop-shadow(0 0 8px var(--primary-glow));
}